# Automatically opens PRs for dependency updates.
# Can be turned on and off for org or repository via "Code security and analysis" tab .
# See https://docs.github.com/en/code-security/dependabot/dependabot-alerts/configuring-dependabot-alerts
version: 2
updates:
  # Updates GHA dependencies
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "05:00"
      timezone: America/Los_Angeles
    groups:
      actions:
        patterns:
          - "*"
    open-pull-requests-limit: 3

  # Updates Docker dependencies
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "05:00"
      timezone: America/Los_Angeles
    open-pull-requests-limit: 3

  # Updates Elixir dependencies
  - package-ecosystem: mix
    directory: server/
    schedule:
      interval: weekly
      day: monday
      time: "05:00"
      timezone: America/Los_Angeles
    # Will only open a maximum of 3 PRs
    open-pull-requests-limit: 3

  # Updates JavaScript dependencies
  - package-ecosystem: npm
    directory: /ui
    schedule:
      interval: daily
      time: "05:00"
      timezone: America/Los_Angeles
    open-pull-requests-limit: 3
    # Group into fewer PRs
    groups:
      frameworks:
        patterns:
          - "next"
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      styles:
        patterns:
          - "@mui/*"
          - "@emotion/*"
          - "@fontsource/*"
      requests:
        patterns:
          - "graphql"
          - "@graphql-codegen/*"
          - "@tanstack/react-query*"
      map:
        patterns:
          - "leaflet*"
          - "react-leaflet"
          - "@types/leaflet"
      player:
        patterns:
          - "video.js"
          - "videojs*"
          - "@types/video.js"
      code-style:
        patterns:
          - "eslint*"
          - "@typescript-eslint/*"
          - "prettier"
          - "lint-staged"
          - "husky"
      misc:
        patterns:
          - "*"
        exclude-patterns:
          # Open individual PRs for the following packages
          - "typescript"
          - "phoenix"
          - "@types/node"
