# ignore local vscode configs
.vscode/*
# but allow files with default or shared to be included as example setups
!.vscode/*.default*
!.vscode/*.shared*
# custom local files need for forked repo
README.md
.env.production