# ignore local vscode configs
.vscode/*
# but allow files with default/shared/example to be included as example setups
!.vscode/*.default*
!.vscode/*.shared*
!.vscode/*.example*
# and allow recommended extensions as well
!.vscode/extensions.json