$fa-font-path: "/fonts";
$body-bg: #fff;

// Palette
$color-1: #20B7A6;
$accent: #6698AC;
$highlight: #826AB0;
$dark: #011C28;
$light: #f4f4f0;

$primary:    $color-1;
$secondary:  #999999;
$success:    rgb(62, 180, 103);
$info:       rgb(19, 21, 28);
$warning:    rgb(187, 163, 47);
$danger:     rgb(244, 67, 54);

$box-shadow-color: rgba(0,0,0,0.25);
$bottom-box-shadow: 0 2px 2px $box-shadow-color;
$top-box-shadow: 0 -2px 2px $box-shadow-color;

$grid-breakpoints: (
  xs: 0,
  sm: 560px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
