$fa-font-path: "/fonts";
$body-bg: #fff;

// Palette
$color-1: #1abc9c;
$color-2: #2966c0;
// $color-3: #FF7A23;
// $color-4: #FFAE23;
// $color-5: #F6223F;

// Taken from http://colormind.io/bootstrap/
$primary:    $color-1;
$secondary:  #999999;
$success:    rgb(62, 180, 103);
$info:       rgb(19, 21, 28);
$warning:    rgb(187, 163, 47);
$danger:     rgb(244, 67, 54);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
