@import "variables";
@import "~bootstrap/scss/bootstrap";

.page-loader {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.cls-1{fill:none;stroke:#2e9e48;stroke-linecap:round;stroke-linejoin:round;stroke-width:15px;}