@import "variables";

.detect-button {
  $button-color: $accent;
  background-color: $button-color;
  color: $light;
  cursor: pointer;
  padding: 25px;
  font-size: 1.4em;
  user-select: none;

  transition: all 0.3s ease-out;

  &:hover {
    background-color: darken($button-color, 5%);
  }

  &.disabled {
    opacity: 0.9;
    background-color: $secondary;
    cursor: default;
  }
}
