body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*
.record {
  -moz-box-shadow:    1px 1px 2px 3px #00000f;
  -webkit-box-shadow: 1px 1px 2px 3px #00000f;
  box-shadow:         1px 1px 2px 3px #00000f;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.13);
  background-color: "#e9e9e9"
} 
*/  