<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Orcasound - Listen for whales</title>
    <%= {:safe, css_link_tag(@conn)} %>
    <!-- jss-insertion-point -->
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <div id="root"></div>

    <%= {:safe, js_script_tag(@conn)} %>
  </body>
</html>
