<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- gtag scripts (for Google Analytics) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Application.get_env(:orcasite, :ga_tracking_id) %>" ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config',  "<%= Application.get_env(:orcasite, :ga_tracking_id) %>");
    </script>
    <!-- end -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Orcasound - Listen for whales</title>
    <%= {:safe, css_link_tag(@conn)} %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- jss-insertion-point -->

  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <div id="root"></div>

    <%= {:safe, js_script_tag(@conn)} %>
  </body>
</html>
